@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #292b2b;
}

.App {
  position: relative;
}

h1.logo {
  position: absolute;
  top: -80px;
  left: 30px;
  color: #fff;
  font-size: 38px;
  cursor: pointer;
}

body {
  background-color: #000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  margin-top: 100px;
  padding: 50px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

form {
  margin-top: 30px;
  width: 400px;
}

form .button {
  margin-top: 20px;
}

form .button-wrapper {
  display: flex;
  justify-content: space-between;
}

.overview-wrapper {
  margin-top: 30px;
}

.overview-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.overview-info p {
  font-size: 16px;
}
